/* Sidebar code referenced from: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
#channelSelection {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 10px;
    bottom: 70px;
    background: white;
    overflow-x: scroll;
    padding: 8px 0;
    margin-left: 20px;
    border: 1px solid black;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 0px;
}

#main {
    margin-left: 196px; /* Same width as the sidebar + left position in px */
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    #channelSelection {padding-top: 15px;}
    #channelSelection a {font-size: 18px;}
}

body {
    background-color: BurlyWood;
    font-family: serif;
    margin: 15px;
}

h1 {
    font-size: 70px;
    color: firebrick;
    text-align:center;
    font-weight: bold;
    margin-bottom: 30px;
}

h1, h3 {
    font-style: oblique;
}

#channelTitle {
    font-style: normal;
}

ul {
    list-style-type: none;
}

#channelsHeading {
    background-color: SeaShell;
}

#channels {
    padding-left: 0;
}

#channels li {
    padding-bottom: 1.5px;
}

.channelLink:hover {
    background-color: lightgray;
}

#deleteButton {
    margin-bottom: 6px;
}

.deleteMessage:hover {
    background-color: lightgray;
}

#displayName {
    margin-top: 3px;
    margin-bottom: 3px;
}

.channelLink {
    font-size: 17px;
}

.singleMessage {
    font-size: 17px;
}

.deleteMessage {
    font-size: 17px;
}

.screenname {
    font-weight: bold;
    font-size: 16px;
}

#deleteReturnLink:hover {
    background-color: lightgray;
}

#deleteReturnLink {
    font-weight: bold;
    color: blue;
}

#deleteReturn {
    padding-top: 12px;
    font-size: 20px;
}

#deleteDirections {
    background-color: red;
}

#messages, #deletees {
    overflow-wrap: break-word;
}
