<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css") }}">
        <title>Chat Place</title>
    </head>
    <body>
        <h1>Messages</h1>

        <ul id="messages">
            {% for message in messages %}
                <li>{{ message.displayName }} [{{ message.timestamp }}]: {{ message.text }}</li>
            {% endfor %}
        </ul>

        <form id="newDisplayName">
            <input id="displayName" type="text" placeholder="Display Name">
                {% if name == "Anonymous" %}
                    <button id="createNameButton" class="displayButton">Create Display Name</button>
                {% else %}
                    <button class="displayButton">Change Display Name</button>
                {% endif %}
        </form>

        <form id="newMessage">
            <textarea id="message" rows="4" cols="50" placeholder="Enter Message Here"></textarea>
            <button id="messageButton">Submit Message</button>
        </form>

        <form id="newChannel">
            <input id="channelName" type="text" placeholder="Channel Name">
            <button>Create Channel</button>
        </form>
    </body>
</html>
